body {
    background-color: rgb(57, 169, 219);
    font-family: 'Rubik', sans-serif;
}

#content {
    background-color: rgba(255, 255, 255, 0.9);
    height: 85vh;
    text-align: center;
    border-radius: 15px;
    margin: auto 15%;
    overflow: auto;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: rgb(189, 189, 189);
}

#content img {
    height: 100px;
    margin: auto;
    display: block;
}

#content section {
    padding: .5rem 0;
}

form hr {
    width: 15%;
}

form {
    line-height: 1.7rem;
}

#submit-button {
    padding: 1rem 1.5rem;
    font-size: 1rem;
}